@import "tailwindcss";

:root {
    --primary: #3b82f6;
    --secondary: #a1a1aa;
    --foreground: #fafafa;
    --background: #1c1917;
    --accent: #f472b6;
}

body {
    background-color: var(--background);
}
